<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Agregar una nueva linea de productos</h1>
    <form action="">
        <label for="UPC">Universal Product Code</label>
        <input type="number" name="UPC"><br>

        <label for="name">Nombre</label>
        <input type="text" name="name"> <br>

        <label for="description">Description</label>
        <input type="text" name="description"> <br>

        <input type="submit" value="Agregar" >
    </form>

    <h1>Agregar nuevo producto de linea existente</h1>
     <form action="">
        <label for="UPC">Universal Product Code</label>
        <input type="number" name="UPC"><br>

        <label for="name">Nombre</label>
        <input type="text" name="name"> <br>

        <label for="description">Description</label>
        <input type="text" name="description"> <br>

        <input type="submit" value="Agregar" >
    </form>
</body>
</html>